@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Merriweather:wght@400;700;900&display=swap');
*{
    margin:0;
    padding:0;
}
/* main section style */
main{
font-family: 'Merriweather', serif;
margin:50px 140px;
}
/* banner-section  style */
.banner-section{
    
    position: relative;
}
.banner-section::before{
    border-radius: 16px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
.banner-section img{
    width: 100%;
    height: auto;
}
.banner-tittle{
    position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
}
.banner-tittle h1{
    color: #FFF;
    text-align: center;
  font-family:'Merriweather', serif ;
  font-size: clamp(2.5rem, 1.9194rem + 2.5806vw, 4.5rem);
    font-style: normal;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
}
.banner-tittle p{
    color: #FFF;
text-align: center;

font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
/* feature-section  style */
.feature-section{
    text-align: center;
    margin-top: 70px;
}
.feature-section h1{
    color: #F00;
    font-family: 'Inter', sans-serif;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 20px;
}
.feature-section p{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}
.feature-section h3{
    color: #070211;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.feature-section img{
    margin-top: 20px;

}
/*welconw-section style */
.welcome-section{
    margin-top:10%;
    position: relative;
  
  
}
.welcome-section::before{
    border-radius: 16px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
background:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);

;
}

.welcome-section img{
    width: 100%;
    height: auto;
}

.welcome-banner{
    position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-51%);
width: 77%;

display: flex;
    justify-content: space-between;
}


.welcome-image{
display: flex;
width: 319.83px;
height: 464.662px;

flex-direction: column;
justify-content: center;
align-items: center;

mix-blend-mode: screen;
margin-left: 20px;
}

.welcome-tittle h1{
    color: #FFF;
     padding-right: 50px;
     font-family: 'Merriweather', serif;
    font-size: 40px;
    font-style: normal;
    font-weight:bolder;
    line-height: 59px; /* 137.5% */
    letter-spacing: 7.04px;
    margin-bottom: 20px;
    margin-top:20%;
}
.welcome-tittle small{
    color: rgba(255, 255, 255, 0.80);
    padding-right: 30px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 166.667% */
}
.welcome-tittle a{
    text-decoration: none;
    color:#FFF
}
.welcome-tittle button{
 border-radius: 10px;
 background:none;  
border:0px;
text-align: center;
font-family:Inter;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
padding: 21px 26px;
}
/* about-section  style */
.about-section{
    text-align: center;
    margin-top: 70px;
    background:
    linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    background-size: cover;
    width: auto;
    height:482px;
    border-radius: 10px;
    border: 10px;
}
.about-tittle{
    padding:100px 100px 200px 100px ;

}
.about-tittle h3{
    color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
margin-bottom: 20px;
text-align: center;
}
span{
    color: #F00;
}
.about-section a{
    text-decoration: none;
    color:#FFF
}
.about-section button{
    display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 15px;
background: #F00;
border-radius: 8px; 
border:0px;
text-align: center;
font-family:Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-top: 20px;
transition: .5s ease-in-out;
cursor: pointer;
}  
.about-section button:hover{
    background: #d50000;
}
/* offer  section style */
section.offer-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
    margin-top:70px;
}
.left-part, .right-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-part p{
    color: #F00;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    padding-bottom:10px;
}
.left-part h3{
    color: #070211;
    font-family: Merriweather;  
font-size: 40px;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
padding-bottom:10px ;
}
.left-part small{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */

}
/* .center-part {
    width: 364px;
    height: 364px;
    background: url(../images/Ellipse-1.png) no-repeat;
    padding: 5%;
    background-position: center;
    border: 15px solid red;
    border-radius: 50%;
} */

.center-part{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.center-part img{
    width: 80%;
    border: 15px solid red;
    padding: 5%;
    border-radius: 50%;
}
.right-part h2{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
}
.right-part small{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */


}
.right-part p img{
    margin-top: 10;
    width: 140px;
    height: 140px;

}
/* comming-soon  section style */
.comming-soon {
    margin: 70px 0px 20px 0px;
    text-align: center;
}
.comming-soon-title p{
    color: #070211;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding:20px;
}
.comming-soon-title h1{
color: #070211;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
margin-bottom: 20px;
}
.comming-soon-title small{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;;
font-weight: 500;
line-height: 32px; /* 160% */
padding:50px 50px 30px 50px;
}
.girl-img{
    display: flex;
    justify-content: space-between;
}
.girl-img aside{
    position: relative;
    line-height: 0;
}
.girl-img aside .discount {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%,-50%);
}
.red-rect{
    position: relative;
}
.red-rect .gift-box {
    position: absolute;
    left: 0;
    top: -150%;
    width: 50%;
}
.red-rect img{
    width: 100%;
}
/* portfolio- section style */
.portfolio-section{
    margin-top: 70px;
}
.portfolio-title p{
    margin-bottom: 20px;
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: normal;
}
.portfolio-title h3{
    margin-bottom: 20px;
    color: #070211;
font-family: Merriweather;
font-size: 48px;

font-weight: 900;
line-height: normal;
text-transform: capitalize;

}
.portfolio-title small{
    margin-bottom: 20px;
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */


}
.portfolio-img-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 30px;
  }
  
  .portfolio-img-grid img {
    width: 100%;
  }
  /* subscribtion-section style */
  .subscribtion-section{
    background: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
    width:auto;
height: 616px;
margin-top: 70px;
text-align: center;

  }
  .subs-cointainer{
   padding: 80px 97px 50px 100px;
  }
  .subs-cointainer img{
    margin-bottom: 30px;

  }
 .subs-cointainer h3{
    margin-bottom: 30px;
    color: #070211;

font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;

 }
 .subs-cointainer p{
    margin-bottom: 30px;
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */

 }
 .container {
    display: flex;
    justify-content: center;
    align-items: center;
   
   
  }
  .subscribe-form {
    display: flex;
   
  }
  .subscribe-form input{
    width: 390px;
    padding:5px 10px;
    border:none;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    
  }
  .subscribe-form button {
    padding: 10px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 0px 50px 50px 0px;
    margin-left: -5px;
    width: 100px;
   
  }
  .hr {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    margin-top: 50px;
}
  /* footer  section style */
  footer{
    background: #070211;
    width:auto;
margin-top: 70px;

  }
  .footer{
    margin-left: 140px;
    margin-right: 140px;
  }
  /* footer-container  section style */
  .footer-container{
    color:#FFF;
    display:flex;
    justify-content: space-between;
    padding-top:5%; 
}
/* .footer-info{
margin-right: 117px;
    
} */
.footer-container h5{
    width: 332px;
    font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 166.667% */
}
.footer-info img{
    width:20px;
}
.footer-info a{
    text-decoration: none;
    color:#FFF;
}

/* footer-social-icon section style */
.social-icon{
    text-align: center;
    padding-top:6%;

}
.social-icon img{
    width:40px;
    height:40px;
  margin-right: 30px;

}
.social-icon a{
    text-decoration: none;
    color:black;
}
.footer-end{
    display: flex;
    justify-content: space-between;
}
/* footer-section-end  section style */
.footer-end{
    color:#FFF;
    display:flex;
    justify-content: space-between;
    padding-top:5%; 
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 10%;
}
#unsuscribe{
    margin-right: 117px;
}
